@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Bevo's Bank and Trust!</h1>
@if (User.Identity.IsAuthenticated != true)
{
    <h4>Products We Offer:</h4>
    <h4>Checkings</h4>
    <h4>Savings</h4>
    <h4>Stock Portfolio</h4>
    <h4>Individual Retirement Accounts (IRAs)</h4>

    <a asp-action="Register" asp-controller="Account" class="btn btn-success">Register Here</a>
}
@if (User.IsInRole("New Customer") || User.IsInRole("Customer"))
{
    <h4>Products We Offer:</h4>
    <h4>Checkings</h4>
    <h4>Savings</h4>
    <h4>Stock Portfolio</h4>
    <h4>Individual Retirement Accounts (IRAs)</h4>

    <a asp-action="Apply" asp-controller="Product" class="btn btn-success">Apply for an Account</a>
}
@if (User.IsInRole("Customer"))
{
    <a asp-action="Index" asp-controller="Product" class="btn btn-success">View Accounts</a>
}
@if (User.IsInRole("Admin"))
{
    <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-success">Manage Users</a>
}
