@model string
@{
    ViewData["Title"] = "Apply";
}

<h1>Select a Product to Apply For</h1>


@if (User.Identity.IsAuthenticated != true)
{
    <a asp-action="Register" asp-controller="Account" class="btn btn-success">Make an Account</a>
}
@if (User.Identity.IsAuthenticated == true)
{
    <h4>Apply for a product:</h4>
    <a asp-action="CreateChecking" asp-controller="Product" class="btn btn-success">Checkings</a>
    <a asp-action="CreateSavings" asp-controller="Product" class="btn btn-success">Savings</a>
    <a asp-action="CreateIRA" asp-controller="Product" class="btn btn-success">Individual Retirement Accounts (IRAs)</a>
    <a asp-action="CreatePortfolio" asp-controller="Product" class="btn btn-success">Stock Portfolio</a>

    <p></p>
}