@model team8finalproject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Apply</h1>

<h4>Savings Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSavings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.ProductType, new { Value = ProductTypes.Savings })
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <label asp-for="InitialDeposit" class="control-label"></label>
            <input asp-for="InitialDeposit" class="form-control" />
            <span asp-validation-for="InitialDeposit" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
