@model team8finalproject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model.ProductType == ProductTypes.Checking || Model.ProductType == ProductTypes.Savings || Model.ProductType == ProductTypes.IRA) {
            <div class="form-group">

                <div class="form-group">
                    <label asp-for="AccountName" class="control-label"></label>
                    <input asp-for="AccountName" class="form-control" />
                    <span asp-validation-for="AccountName" class="text-danger"></span>
                </div>
                <label asp-for="InitialDeposit" class="control-label"></label>
                <input asp-for="InitialDeposit" class="form-control" />
                <span asp-validation-for="InitialDeposit" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Create" asp-route-ProductType="@ProductTypes.Checking" class="btn btn-primary" />
                </div>
            </div>
            }
            @if(Model.ProductType == ProductTypes.Portfolio) {

            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
