<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedPayees" class="btn btn-info">Seed Payees</a>
<a asp-controller="Seed" asp-action="SeedStocks" class="btn btn-warning">Seed Stocks</a>
<a asp-controller="Seed" asp-action="SeedCustomers" class="btn btn-warning">Seed Customers</a>





<a href="~/Views/Seed/Index.cshtml">~/Views/Seed/Index.cshtml</a>